<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        table {
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table, th, td {
            border: 1px solid lightgrey;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Admin Overview</h1>
    <table class="table">
        <tr>
            <th>Lag</th>
            <th>Rebus</th>
            <th>Ledning</th>
            <th>Lösning</th>
        </tr>
        #foreach($teamRebus in $data)
            #foreach($rebus in $teamRebus.rebus)
            <tr>
                <td>$teamRebus.team.name</td>
                <td>$rebus.nr</td>
                <td>#if($rebus.hint) Ja #else Nej #end</td>
                <td>#if($rebus.Answer) Ja #else Nej #end</td>
            #end
        #end
</div>
</body>
</html>