<head>
    <title>Rally Monte Carl</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/icons/favicon-16x16.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        table {
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table,th,td {
            border: 1px solid lightgrey;
            padding: 10px;
        }
        .logo {
            background-image: url(/public/logo.png);
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        footer {
            opacity: 25%;
            text-align: center;
        }
    </style>
</head>