<!DOCTYPE html>
<html>
<head>
    <title>Svampyrernas Rally Montecarl</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        table {
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table,th,td {
            border: 1px solid lightgrey;
            padding: 10px;
        }
        .logo {
            background-image: url(/public/Svmpyrlogga.png);
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="container logo"></div>
    <h1>Svampyrernas Rally Montecarl 2021</h1>
    #if( $loggedIn )
    <h2>Välkomna, ${data.team.name}!</h2>
    #if( $data.team.role == "ADMIN" )
        <p><a href="/admin">Admin</a></p>
    #end
    <table class="table">
        <tr>
            <th>Rebus</th>
            <th>Ledning</th>
            <th>Lösning</th>
        </tr>
        #foreach($rebus in $data.rebus)
            <tr>
                <td>$rebus.nr</td>
                #if( $rebus.hint )
                    <td>$rebus.hint</td>
                #else
                    <td>
                        <form action="/unlock" method="POST"
                              onsubmit="return confirm('Att se ledningen innebär extra prickbelastning. Är du säker på att du vill se ledningen?');">
                            <input type="hidden" name="rebusId" value="$rebus.id"/>
                            <input type="hidden" name="unlockType" value="HINT"/>
                            <button type="submit" class="btn btn-default">Se ledning</button>
                        </form>
                    </td>
                #end
                #if( $rebus.answer )
                    <td>$rebus.answer</td>
                #else
                    <td>
                        <form action="/unlock" method="POST"
                              onsubmit="return confirm('Att se lösningen innebär extra prickbelastning. Är du säker på att du vill se lösningen?');">
                            <input type="hidden" name="rebusId" value="$rebus.id"/>
                            <input type="hidden" name="unlockType" value="ANSWER"/>
                            <button type="submit" class="btn btn-default">Se lösning</button>
                        </form>
                    </td>
                #end
            </tr>
        #end
    </table>
    #else
    <h3>Du är inte inloggad</h3>
    #end
    #if( $loggedIn )
    <form action="logout" method="POST">
        <button type="submit" class="btn btn-default">Logga ut</button>
    </form>
    #else
    <p><a href="/auth">Logga in</a></p>
    #end
</div>
</body>
</html>